.wrapper {
    display: block;
    width: 100%;
    text-decoration: none;
}

.container {
    padding: 1rem 2rem;
}

.main_image {
    position: relative;
    height: 0;
    padding: 100% / 3 * 2 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before, &:after {
        filter: brightness(0.65)
    }
}

.collection_title {
    margin: 0 2rem;
    filter: brightness(1) !important;
}

.galleria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.left_column, .right_column {
    flex-basis: 100%;
    flex: 1;
    max-width: 48%;
    .thumb {
        margin: 1rem 0;
        background-position: top;
        height: 45%;
    }
}

.left_column {
    .thumb:last-child {
        height: 25%;
    } 
}

.right_column {
    .thumb:first-child {
        height: 25%;
    } 
}