.wrapper {
        max-width: 1000px;
        margin: 0 auto;
        width: 90%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
}

.main_image {
    min-height: 350px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    &:before, &:after {
        filter: brightness(0.65)
    }
}

.collection_title {
    margin: 0 1rem;
    text-align: center;
}

.galleria {
    display: flex;
    justify-content: space-between;

    .left_column, .right_column {
        width: 95%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        .thumb {
            width: 100%;
            height: auto;
            flex-grow: 0;
            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }

    .left_column {
        padding-right: 1rem;
    }
}

@media (min-width: 768px) {
    .wrapper {
        align-content: stretch;
        flex-direction: row;
        .galleria {
            width: 60%;
        }

        .main_image {
            margin: 0 1rem 0 0;
        }
    }
}