@import '../../styles/constants';

.container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        width: 80px;
        height: auto;
        color: $black;
    }

    .feed_container {
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .thumb {
            min-width: 300px;
            margin: 1rem;
        }
    }
}