$brown: #a0735f;
$white: #ffffff;
$black: #4a3030;
$fondotinta: #ffe1d7;
$image-overlay-20: rgba(60, 60, 60, 0.2);
$image-overlay-30: rgba(0, 0, 0, 0.3);

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}