 @import '_constants.scss';

html, body {
    margin: 0;
    font-family: Quicksand, Helvetica;
    hyphens: auto;
}

h1.giant {
    font-size: 50px;
    font-weight: 300;
    text-transform: Uppercase;
    text-decoration: none;
}

h3 {
    font-family: Raleway, Helvetica;
    color: $black;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

p {
    color: $black;
    font-size: 15px;
    text-align: justify;
    line-height: 1.67;
}

a {
    text-decoration: none;
}

.fondotinta {
    color: $fondotinta;
}