 @import '_constants.scss';

html, body {
    margin: 0;
    font-family: Quicksand, Helvetica;
    hyphens: auto;
}

h1 {
    font-weight: 300;
    color: $black;
    font-size: 45px;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 500;
    color: $black;
    font-size: 40px;
}

h1.giant {
    font-size: 50px;
    font-weight: 300;
    text-transform: Uppercase;
    text-decoration: none;
}

h3 {
    font-family: Raleway, Helvetica;
    color: $black;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

p {
    color: $black;
    font-size: 15px;
    text-align: justify;
    line-height: 1.67;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: #FFFFFF;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.10);
    margin-top: 2rem;
    * {
        margin: 0 1rem;
    }
    .logo {
        max-width: 100px;
        height: auto;
    }
}
.fondotinta {
    color: $fondotinta;
}