.title_background {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after, &::before {
        filter: brightness(0.8);
    }
    .title {
        font-weight: 500;
    }
}

.article_container {
    margin: 3rem 3rem 5rem 3rem;
}

.article_title {
    text-align: center;
    margin: 2rem;
    text-decoration: none;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .desktop {
        display: flex;
    }

    .mobile {
        display: none
    }
    .article_container {
        display: flex;
        max-width: 1500;
        justify-content: space-around;

        &.right {
            flex-direction: row-reverse;
        }
        .article_foto {
            width: 50%;
            max-width: 830px;
        }
        .article_preview {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 2rem;
            max-width: 590px;
            .article_title {
                max-width: 400px;
                margin: 0 auto;
            }
        }


    }


}