.container {
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        text-align: center;
        text-transform: none;
        font-weight: 300;
        margin: 2rem 0;
    }
    .image {
        margin: 0 4rem;
        flex-basis: 100%;
    }

    .biografia {
        margin: 3rem 5rem;
    }
}