@import '../../styles/constants';

.container {
    display: flex;
    align-items: center;
    color: $fondotinta;
    font-size: 25px;
    font-weight: bold;
    
    .arrow {
        margin-right: 0.5rem;
        padding-top: 0.2rem;
    }
    span {
        font-weight: 400;
        text-decoration: underline;
    }
}

.pink {
    color: $fondotinta;
}

.black {
    color: $black;
}