@import '../../../styles/constants';


li {
    list-style: none;
    padding: 0;
    margin: 0;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}
.text {
    text-decoration: none;
    text-align: left;
}

.sub_item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .arrow_icon {
        margin-right: 0.6rem;
        min-width: 20px;
        height: 100%;
    }

    h3 {
        font-size: 14px;
    }

}

ul {
    padding-left: 20px;
}