@import '../../styles/_constants';

.container {
    position: relative;
}
.slide.active {
    opacity: 1;
} 
  
.slide {
    opacity: 0;
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 80vh;
    min-height: 800px;
    z-index: -1;
    transition: 1.5s;
}