@import '../../styles/_constants';

.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 800px;

    .slide {
        position: absolute;
        
    }

}

.slide.active {
    opacity: 1;
} 
  
.slide {
    opacity: 0;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    z-index: -1;
    transition: 1.5s;
}

.image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
}

.logo_wrapper {
    svg {
        margin: 0;
    }
}
.logo {
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 2rem;
}